@tailwind base;
@tailwind components;
@tailwind utilities;
.ant-table-pagination{
    position: absolute;
}

.ant-modal-content .ant-modal-footer .ant-btn-default, .ant-modal-close{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:hover{
    color: black !important;
}
.ant-tabs-tab{
  width: 223.9px !important;
  height: 80px !important;
  font-size: 20px !important;
}
.ant-layout-sider ::-webkit-scrollbar{
    display: none !important;
}
.ant-layout ::-webkit-scrollbar{
    display: none !important;
}
